<!-- Main Sidebar Container -->

<aside
  #mainSidebar
  class="main-sidebar sidebar-dark-primary elevation-4"
  *ngIf="superAdmin"
>
  <!-- Brand Logo -->
  <a [routerLink]="['/home']" class="brand-link">
    <img
      src="assets/dist/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Super Admin</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/dist/img/AdminLTELogo.png"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a [routerLink]="['/home']" class="d-block">Super Admin</a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="true"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Admin
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['add-admin']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Admin</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['adminList']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View All Admin</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a [routerLink]="['/home/degree-master']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Admin</p>
              </a>
            </li> -->
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>User</p>
            <i class="right fas fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['userList']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View All User</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a [routerLink]="['adminList']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Admin List</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/home/degree-master']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Admin</p>
              </a>
            </li> -->
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>Vendor</p>
            <i class="right fas fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['vendorList']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View All Vendor</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>Assign To Admin</p>
            <i class="right fas fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['assignVendor']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Vendor</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['assignProduct']">
                <i class="far fa-circle nav-icon"></i>
                <p>Product</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['assignUser']">
                <i class="far fa-circle nav-icon"></i>
                <p>User</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>Manage App Settings</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>

  <!-- /.sidebar -->
</aside>

<aside
  #mainSidebar
  class="main-sidebar sidebar-dark-primary elevation-4"
  *ngIf="!superAdmin"
>
  <!-- Brand Logo -->
  <a [routerLink]="['/home']" class="brand-link">
    <img
      src="assets/dist/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Admin</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/dist/img/AdminLTELogo.png"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a [routerLink]="['/home']" class="d-block">Admin</a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              User
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <!-- <li class="nav-item">
              <a [routerLink]="['']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>User</p>
              </a>
            </li> -->
            <li class="nav-item">
              <a [routerLink]="['userList']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>User List</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a [routerLink]="['/home/degree-master']" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View Admin</p>
              </a>
            </li> -->
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>List</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>List</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>List</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>Manage App Settings</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>

  <!-- /.sidebar -->
</aside>
