<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">User List</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active"
              >Home</a
            >
          </li>
          <li class="breadcrumb-item active">User-List</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">User's List</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <!-- <th>Gst Number</th>
                  <th>Created Date</th> -->
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of List
                      | paginate
                        : {
                            itemsPerPage: filters.pageSize,
                            currentPage: filters.pageNumber,
                            totalItems: totalCount
                          }
                  "
                >
                  <td>{{ item?.name }}</td>
                  <td>
                    <a href="mailTo:{{ item?.email }}">{{ item?.email }}</a>
                  </td>
                  <td>+{{ item.dialCode }}-{{ item.phoneNumber }}</td>
                  <!-- <td>{{ item.gstNumber }}</td>
                  <td>{{ item.createdDate }}</td> -->
                  <td *ngIf="item.applicationStatus === 0">
                    Incomplete
                    <!-- <span class="badge badge-success">Success</span> -->
                  </td>
                  <td *ngIf="item.applicationStatus === 1">
                    Pending
                    <!-- <span class="badge badge-success">Success</span> -->
                  </td>
                  <td *ngIf="item.applicationStatus === 2">
                    Accepted
                    <!-- <span class="badge badge-success">Success</span> -->
                  </td>
                  <td *ngIf="item.applicationStatus === 3">
                    Rejected
                    <!-- <span class="badge badge-success">Success</span> -->
                  </td>
                  <td>
                    <span style="cursor: pointer" title="Edit"
                      ><i class="fas fa-edit"></i
                    ></span>
                    <span
                      style="cursor: pointer"
                      title="Details"
                      (click)="deleteID(item.userId)"
                      ><i class="fas fa-eye"></i
                    ></span>
                  </td>
                </tr>
              </tbody>
            </table>

            <pagination-controls
              style="float: right"
              (pageChange)="filters.pageNumber = $event"
              maxSize="5"
            ></pagination-controls>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
