.sign-btn {
  margin-right: 40px;
  text-align: right;
  padding-bottom: 22px;
}
.sign-btn button.btn.btn-primary {
  color: #fff;
  width: 122px;
}
.modal.show .modal-dialog {
  max-width: 684px !important;
}
.modal-header {
  margin-bottom: 26px;
}
