<li class="nav-item dropdown user-menu">
  <a
    class="nav-link dropdown-toggle"
    data-toggle="dropdown"
    (click)="toggleDropdownMenu()"
  >
    <img
      src="assets/dist/img/user2-160x160.jpg"
      class="user-image img-circle elevation-2"
      alt="User Image"
    />
  </a>
  <ul #dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <!-- User image -->
    <li class="user-header bg-primary">
      <img
        src="assets/dist/img/user2-160x160.jpg"
        class="img-circle elevation-2"
        alt="User Image"
      />

      <p>
        <!-- Super Admin -->
      </p>
    </li>
    <li class="user-footer">
      <a (click)="logout()" class="btn btn-default btn-flat float-right"
        >Sign out</a
      >
    </li>
  </ul>
</li>
