<button
  type="button"
  style="float: right"
  class="btn btn-danger"
  (click)="assignIDs()"
  *ngIf="showTrash"
>
  Assign User
</button>
<div class="card-body">
  <div *ngIf="userList?.length === 0">
    <p>Yet There is no any user.</p>
  </div>
  <table
    id="example1"
    class="table table-bordered table-striped"
    *ngIf="userList?.length > 0"
  >
    <thead>
      <tr>
        <th>
          <!-- <input
            type="checkbox"
            [(ngModel)]="masterSelected"
            (change)="checkUncheckAll()"
          /> -->Assign
          <strong></strong>
        </th>
        <th>Name</th>
        <th>Email</th>

        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userList; let i = index">
        <td>
          <input
            type="checkbox"
            [(ngModel)]="item.isAssigned"
            value="{{ item?.vendorId }}"
            (change)="isAllSelected()"
          />
        </td>
        <td>{{ item?.firstName }} {{ item?.lastName }}</td>
        <td>
          <a href="mailTo:{{ item?.email }}">{{ item?.email }}</a>
        </td>

        <td>
          <input
            type="checkbox"
            [checked]="item.permissions.canView"
            (change)="getUserView($event, item)"
            [disabled]="item.isAssigned === false"
          />
        </td>
        <td>
          <input
            type="checkbox"
            [checked]="item.permissions.canEdit"
            (change)="getUserEdit($event, item)"
            [disabled]="item.isAssigned === false"
          />
        </td>
        <td>
          <input
            type="checkbox"
            [checked]="item.permissions.canDelete"
            (change)="getUserDelete($event, item)"
            [disabled]="item.isAssigned === false"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
