<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Profile</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">User Info</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img
                class="profile-user-img img-fluid img-circle"
                [src]="profilePic"
                alt="User profile picture"
              />
            </div>
            <h3 class="profile-username text-center"></h3>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">User Info</h3>
          </div>
          <!-- /.card-header -->
          <!-- <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Education</strong>
            <ul>
              <li
                *ngFor="let edu of doctorDetails.doctorWorkInfo.doctorEducation"
              >
                <p class="text-muted">
                  {{ edu.degreeName }} from {{ edu.instituteName }}
                </p>
                <hr />
              </li>
            </ul>
            <strong><i class="fas fa-pencil-alt mr-1"></i>Specialities</strong>
            <ul>
              <li
                *ngFor="
                  let speciality of doctorDetails.doctorWorkInfo
                    .doctorSpecialities
                "
              >
                <p class="text-muted">
                  <span class="tag tag-danger">
                    {{ speciality.name }}
                  </span>
                </p>
              </li>
            </ul>
            <hr />

            <strong
              ><i class="fas fa-pencil-alt mr-1"></i>Languages Known</strong
            >
            <ul>
              <li
                *ngFor="
                  let language of doctorDetails.doctorBasicInfo.doctorLangauges
                "
              >
                <p class="text-muted">
                  <span class="tag tag-danger">
                    {{ language.name }}
                  </span>
                </p>
              </li>
            </ul>
            <hr />

            <strong><i class="fas fa-pencil-alt mr-1"></i>Reg No</strong>
            <p class="text-muted">
              <span class="tag tag-danger">
                {{ doctorDetails.doctorWorkInfo.regNo }}
              </span>
            </p>
            <hr />

            <strong><i class="fa fa-history-alt mr-1"></i>Experience</strong>
            <p class="text-muted">
              <span class="tag tag-danger">
                {{ doctorDetails.doctorWorkInfo.experience }} Year(s).
              </span>
            </p>
            <hr />

            <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
            <p class="text-muted">
              {{ doctorDetails.doctorBasicInfo.about }}
            </p>
          </div> -->
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#basicInfo" data-toggle="tab"
                  >Basic Info</a
                >
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#addressInfo" data-toggle="tab"
                  >Address Info</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#bankInfo" data-toggle="tab"
                  >Bank Info</a
                >
              </li> -->
            </ul>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane">
                <form
                  class="form-horizontal"
                  [formGroup]="basicInfoForm"
                  autocomplete="off"
                >
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >Name</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="name"
                        placeholder="Name"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label"
                      >Email</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="email"
                        placeholder="Email"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="isEmailVerified" class="col-sm-2 col-form-label"
                      >Email Verified</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="checkbox"
                        [checked]="userDetails?.emailConfirmed"
                        [disabled]="disabled"
                      />
                    </div>
                  </div>
                  <!-- <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label"
                      >Gender</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        value="{{ doctorDetails.doctorBasicInfo.gender }}"
                           [disabled]="disabled"
                        class="form-control"

                        placeholder="Gender"
                      />
                    </div>
                  </div> -->
                  <div class="form-group row">
                    <label for="Phone" class="col-sm-2 col-form-label"
                      >Phone</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        formControlName="phoneNumber"
                        class="form-control"
                        placeholder="Phone"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label"
                      >Phone Verified</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="checkbox"
                        [checked]="userDetails?.phoneNumberConfirmed"
                        [disabled]="disabled"
                      />
                    </div>
                  </div>
                  <!-- <div class="form-group row">
                    <label for="DateOfBirth" class="col-sm-2 col-form-label"
                      >Date Of Birth</label
                    > -->
                  <!-- <div class="col-sm-10">
                      <input
                        type="text"
                        disabled
                        formControlName="dateOfBirth"
                        class="form-control"

                        placeholder="DateOfBirth"
                      />
                    </div> -->
                  <!-- </div> -->
                  <div class="form-group row">
                    <label
                      for="ApplicationStatus"
                      class="col-sm-2 col-form-label"
                      >Status</label
                    >
                    <div class="col-sm-10">
                      <select
                        id="ApplicationStatus"
                        formControlName="applicationStatus"
                        class="form-control custom-select"
                      >
                        <option value="0">Incomplete</option>
                        <option value="1">Pending</option>
                        <option value="2">Accepted</option>
                        <option value="3">Rejected</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <!-- <div class="tab-pane" id="addressInfo">
                <form
                  class="form-horizontal"
                  autocomplete="off"
                  *ngIf="doctorDetails.doctorBasicInfo !== null"
                >
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >Address</label
                    >
                    <div class="col-sm-10">
                      <textarea
                        value="{{
                          doctorDetails.doctorBasicInfo.currentAddress
                        }}"
                        class="form-control"
                        readonly
                      ></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >City</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        value="{{ doctorDetails.doctorBasicInfo.city }}"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >State</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        value="{{ doctorDetails.doctorBasicInfo.state }}"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >Country</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        value="{{ doctorDetails.doctorBasicInfo.country }}"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >Nationality</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        value="{{ doctorDetails.doctorBasicInfo.nationality }}"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>
                </form>
              </div> -->
              <!-- /.tab-pane -->

              <!-- <div class="tab-pane" id="bankInfo">
                <form
                  class="form-horizontal"
                  autocomplete="off"
                  *ngIf="doctorDetails.doctorBankInfo !== null"
                >
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >Account No</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        value="{{ doctorDetails.doctorBankInfo.accountNumber }}"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >Route No</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        value="{{ doctorDetails.doctorBankInfo.routeNo }}"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >Bank</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        value="{{ doctorDetails.doctorBankInfo.bankName }}"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >Branch Code</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        value="{{ doctorDetails.doctorBankInfo.branchCode }}"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >Postal Code</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        value="{{ doctorDetails.doctorBankInfo.postCode }}"
                        class="form-control"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >address</label
                    >
                    <div class="col-sm-10">
                      <textarea
                        value="{{ doctorDetails.doctorBankInfo.address }}"
                        class="form-control"
                        readonly
                      ></textarea>
                    </div>
                  </div>
                </form>
              </div> -->
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
