.register-box .resend-otp button {
  color: #fff;
  background: #007bff;
  border-color: transparent;
  padding: 6px 10px;
  font-size: 15px;
  border-radius: 6px;
}
.register-box button.disabledClass {
  background: #e9ecef;
  margin-left: 7px;
  border-color: transparent;
  padding: 6px 10px;
  font-size: 15px;
  color: #c7c5c5;
}
button.sign-account {
  color: #fff;
  background: #007bff;
  border-color: transparent;
  padding: 6px 10px;
  font-size: 15px;
  border-radius: 6px;
  margin-left: 6px;
}
