<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>AdminLTE 3 | Registration Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />
  </head>
  <body class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
      </div>

      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Register a new membership</p>
          <div class="col-lg-12 pt-4 pb-4">
            <form>
              <h2>Please Enter {{ otp }}</h2>
              <p class="verification-text">
                A One time Passcode has been sent to
                <a class="d-block">{{ email?.inputValue }}</a> to verify your
                Email Address.
              </p>

              <div class="form-row email-verification">
                <div class="form-group col-lg-12">
                  <ng-otp-input
                    (onInputChange)="onOtpChange($event)"
                    [config]="{ length: 4, allowNumbersOnly: true }"
                  ></ng-otp-input>
                </div>
              </div>

              <div class="resend-otp">
                <p>
                  Didn’t Recieve a code?
                  <button type="text" (click)="resendOtp()">Resend OTP</button>
                </p>
              </div>
              <!-- <div class="sign-btn">
              <button class="sign-account" (click)="onSubmit()">
              Countinue
              </button>
              </div> -->
              <div class="sign-btn otp-btn">
                <a
                  [routerLink]="['/login']"
                  routerLinkActive="router-link-active"
                  class="sign-back"
                  >Back</a
                >
                <button
                  [disabled]="!isDisabled"
                  [ngClass]="!isDisabled ? 'disabledClass ' : 'sign-account'"
                  (click)="onSubmit()"
                >
                  Continue
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
