<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Assign Product</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active"
              >Home</a
            >
          </li>
          <li class="breadcrumb-item active">Assign Product</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Choose Admin</h3>
          </div>
          <div class="card-body">
            <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Choose Vendor</h4>
                <button
                  type="button"
                  class="close pull-right"
                  aria-label="Close"
                  (click)="closeModal()"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Choose Vendor</th>
                    <th>Vendor's Name</th>
                    <th>Vendor'sEmail</th>
                    <th>Vendor's Gst Number</th>

                    <!-- <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of vendorsList
                        | paginate
                          : {
                              itemsPerPage: vendorFilters.pageSize,
                              currentPage: vendorFilters.pageNumber,
                              totalItems: totalCount
                            };
                      let i = index
                    "
                  >
                    <td>
                      <input
                        type="checkbox"
                        [(ngModel)]="item.isSelected"
                        value="{{ item.vendorId }}"
                        (change)="selectedVendor(item.vendorId, template)"
                      />
                    </td>
                    <td>{{ item?.firstName }} {{ item?.lastName }}</td>
                    <td>
                      <a href="mailTo:{{ item?.email }}">{{ item?.email }}</a>
                    </td>
                    <td>{{ item.gstNumber }}</td>
                    <!-- <td>
                      <input
                        type="checkbox"
                        [checked]="item.permissions.canView"
                        (change)="getVendorView($event, item)"
                        [disabled]="item.isAssigned === false"
                      />
                    </td>
                    <td>
                      <input
                        type="checkbox"
                        [checked]="item.permissions.canEdit"
                        (change)="getVendorEdit($event, item)"
                        [disabled]="item.isAssigned === false"
                      />
                    </td>
                    <td>
                      <input
                        type="checkbox"
                        [checked]="item.permissions.canDelete"
                        (change)="getVendorDelete($event, item)"
                        [disabled]="item.isAssigned === false"
                      />
                    </td> -->
                  </tr>
                </tbody>
              </table>
              <pagination-controls
                style="float: right"
                (pageChange)="filters.pageNumber = $event"
                maxSize="5"
              ></pagination-controls>
              <!-- <div class="sign-btn">
                <button
                  type="button"
                  style="float: right"
                  class="btn btn-primary"
                  (click)="assignIDs()"
                  *ngIf="showButton"
                >
                  Assign Vendor
                </button>
              </div> -->
            </ng-template>
            <div>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Gst Number</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Choose</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of adminList
                        | paginate
                          : {
                              itemsPerPage: filters.pageSize,
                              currentPage: filters.pageNumber,
                              totalItems: totalCount
                            };
                      let i = index
                    "
                  >
                    <td>{{ item?.firstName }} {{ item?.lastName }}</td>
                    <td>
                      <a href="mailTo:{{ item?.email }}">{{ item?.email }}</a>
                    </td>
                    <td>+{{ item.dialCode }}-{{ item.phoneNumber }}</td>
                    <td>{{ item.gstNumber }}</td>
                    <td>{{ item.createdDate }}</td>
                    <td *ngIf="item.applicationStatus === 0">Incomplete</td>
                    <td *ngIf="item.applicationStatus === 1">Pending</td>
                    <td *ngIf="item.applicationStatus === 2">Accepted</td>
                    <td *ngIf="item.applicationStatus === 3">Rejected</td>
                    <td>
                      <input
                        type="checkbox"
                        [(ngModel)]="item.isSelected"
                        value="{{ item.adminId }}"
                        (change)="selectedAdmin(item.adminId, template)"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls
                style="float: right"
                (pageChange)="filters.pageNumber = $event"
                maxSize="5"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
