<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Profile</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Admin Profile</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img
                class="profile-user-img img-fluid img-circle"
                [src]="profilePic"
                alt="User profile picture"
              />
            </div>
            <h3 class="profile-username text-center"></h3>
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Admin Info</h3>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#basicInfo" data-toggle="tab"
                  >Basic Info</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#vendorInfo" data-toggle="tab"
                  >Assigned Vendor</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#userInfo" data-toggle="tab"
                  >Assigned User</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="basicInfo">
                <form
                  class="form-horizontal"
                  [formGroup]="basicInfoForm"
                  autocomplete="off"
                >
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >Name</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="name"
                        placeholder="Name"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label"
                      >Email</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="email"
                        placeholder="Email"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="isEmailVerified" class="col-sm-2 col-form-label"
                      >Email Verified</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="checkbox"
                        [checked]="adminDetails?.emailConfirmed"
                        [disabled]="true"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="Phone" class="col-sm-2 col-form-label"
                      >Phone</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        formControlName="phoneNumber"
                        class="form-control"
                        placeholder="Phone"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label"
                      >Phone Verified</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="checkbox"
                        [checked]="adminDetails?.phoneNumberConfirmed"
                        [disabled]="true"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <label
                      for="ApplicationStatus"
                      class="col-sm-2 col-form-label"
                      >Status</label
                    >
                    <div class="col-sm-10">
                      <select
                        id="ApplicationStatus"
                        formControlName="applicationStatus"
                        class="form-control custom-select"
                      >
                        <option value="0">Incomplete</option>
                        <option value="1">Pending</option>
                        <option value="2">Accepted</option>
                        <option value="3">Rejected</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="vendorInfo">
                <button
                  type="button"
                  style="float: right"
                  class="btn btn-danger"
                  (click)="assignIDs()"
                  *ngIf="showTrash"
                >
                  Assign Vendor
                </button>

                <div class="card-body">
                  <div *ngIf="vendorsList?.length === 0">
                    <p>Yet There is no any Vendor.</p>
                  </div>

                  <table
                    id="example1"
                    class="table table-bordered table-striped"
                    *ngIf="vendorsList?.length > 0"
                  >
                    <thead>
                      <tr>
                        <th>Assigned</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gst Number</th>

                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of vendorsList; let i = index">
                        <td>
                          <input
                            type="checkbox"
                            [(ngModel)]="item.isAssigned"
                            value="{{ item.vendorId }}"
                            (change)="isAllSelected()"
                          />
                        </td>
                        <td>{{ item?.firstName }} {{ item?.lastName }}</td>
                        <td>
                          <a href="mailTo:{{ item?.email }}">{{
                            item?.email
                          }}</a>
                        </td>
                        <td>{{ item.gstNumber }}</td>
                        <td>
                          <input
                            type="checkbox"
                            [checked]="item.permissions?.canView"
                            (change)="getVendorView($event, item)"
                            [disabled]="item.isAssigned === false"
                          />
                        </td>
                        <td>
                          <input
                            type="checkbox"
                            [checked]="item.permissions?.canEdit"
                            (change)="getVendorEdit($event, item)"
                            [disabled]="item.isAssigned === false"
                          />
                        </td>
                        <td>
                          <input
                            type="checkbox"
                            [checked]="item.permissions?.canDelete"
                            (change)="getVendorDelete($event, item)"
                            [disabled]="item.isAssigned === false"
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane" id="userInfo">
                <app-admin-user-info></app-admin-user-info>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
