<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark" #backToTop>Add Admin</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active"
              >Home</a
            >
          </li>
          <li class="breadcrumb-item active">Add Admin Profile</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <!-- <span
                style="cursor: pointer"
                title="Add"
                (click)="addNew()"
                class="btn btn-primary btn-xs"
                >Add New Record</span
              > -->
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <button
              (click)="addRow()"
              [disabled]="addAdminForm.invalid || count >= 14"
            >
              Add New
            </button>
            <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-7 card-form">
                <form [formGroup]="addAdminForm" (ngSubmit)="doSubmit()">
                  <div
                    formArrayName="addAdminVM"
                    class="form-group input-text"
                    *ngFor="
                      let field of addAdminForm.get('addAdminVM')['controls'];
                      let i = index
                    "
                  >
                    <div [formGroupName]="i">
                      <label>Email:</label>
                      <input
                        type="email"
                        class="form-control"
                        [class.is-invalid]="
                          addAdminVM.controls[i].get('emailId').invalid &&
                          addAdminVM.controls[i].get('emailId').touched &&
                          submitted
                        "
                        formControlName="emailId"
                      /><br />
                      <!-- <label
                        *ngIf="
                          addAdminVM.controls[i].get('emailId').errors
                            ?.required && !submitted
                        "
                        class="error"
                      >
                        Email required.
                      </label> -->

                      <div
                        *ngIf="
                          (addAdminVM.controls[i].get('emailId').invalid &&
                            addAdminVM.controls[i].get('emailId').touched) ||
                          addAdminVM.controls[i].get('emailId').dirty
                        "
                      >
                        <small
                          *ngIf="
                            addAdminVM.controls[i].get('emailId').errors
                              ?.required
                          "
                          class="text-danger"
                          >Email is required</small
                        >
                        <!--question mark(?) is a safe navigation operator-->
                        <small
                          *ngIf="
                            addAdminVM.controls[i].get('emailId').errors
                              ?.pattern
                          "
                          class="text-danger"
                          >Please provide a valid email address</small
                        >
                      </div>
                    </div>
                    <div class="card-btn">
                      <button (click)="deleteId(i)">Delete</button>
                    </div>
                  </div>
                  <div class="submit-btn">
                    <button>submit</button>
                    <!-- <button [disabled]="addAdminForm.invalid">submit</button> -->
                  </div>
                </form>
              </div>
              <div class="col-lg-3"></div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
