.form-group.input-text .card-btn {
  margin-top: 31px;
  margin-left: 27px;
}
.form-group.input-text .card-btn button {
  border: none;
  background: red;
  padding: 8px 23px;
  color: #fff;
}
.form-group.input-text {
  display: flex;
}
.form-group.input-text {
  display: flex;
}
.input-text input {
  width: 100%;
}

.input-text .ng-untouched {
  width: 100%;
}
.input-text .ng-invalid.ng-dirty.ng-touched {
  width: 100%;
}
.ng-invalid.ng-dirty.ng-touched {
  width: 100%;
}
.input-text .ng-dirty.ng-touched.ng-valid {
  width: 100%;
}
.submit-btn {
  text-align: right;
  width: 100%;
}
.submit-btn button {
  border: none;
  background: #1074d8;
  padding: 8px 23px;
  color: #fff;
}
