<div class="lockscreen-wrapper">
  <div class="lockscreen-logo">
    <span><b>LktMrkt</b>Admin</span>
  </div>
  <!-- START LOCK SCREEN ITEM -->
  <div class="lockscreen-item">
    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-warning">404</h2>

        <div class="error-content">
          <h3>
            <i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page
            not found.
          </h3>
          <p>
            We could not find the page you were looking for. Meanwhile, you may
            <span>return to dashboard</span> or try using the search form.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
